{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        Enter your name: <input type="text" name="name" required><br>
        {% if name == "" %}
            <p style="color: red;">**Please enter your name**</p>
        {% endif %}
        Enter your email: <input type="text" name="email" required><br>
        {% if email_exists %}
            <p style="color: red;">**Email already exists**</p>
        {% endif %}
        Enter Phone Number: <input type="text" name="phNum" required><br>
        {% if phNum_exists %}
            <p style="color: red;">**Phone number already exists**</p>
        {% endif %}
        Enter your age: <input type="number" name="age" required><br>
        <label for="gender">Enter your gender:</label>
        <select id="gender" name="gender" required>
            <option value="m">Male</option>
            <option value="f">Female</option>
        </select>
        <br>Enter Password: <input type="text" name="pwd" required><br>
        <button class="button" type="submit">Sign Up</button>
    </form>
{% endblock %}