<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{details}}</h1>
    <form action="{% url 'selectSlot' %}" method='post'>
        {% csrf_token %}
        <label for="Book">Book Appointment</label>
        Select Date:<input type="date" name="appointmentDate" value="{{ today }}"><br>
        Select Slot:
        <select name="slot" id="slot">
            {% for s in avSlots.0 %}
                <option value={{s}}>{{s}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Book Appointment">
    </form>
</body>
</html>