<!DOCTYPE html>
<html>
<head>
    <title>Today's Appointments</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <h1>Your Appointments</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr style="text-align: center">
                    <th> Name </th>
                    <th> Branch </th>
                    <th> Age </th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctors %}
                <tr style="text-align: center">
                    <td> {{doctor.doctorName}} </td>
                    <td> {{doctor.hospitalName}} </td>
                    <td> {{doctor.age}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>